NET "CLK_IN1" LOC = V10;
NET "MCLK" LOC = G11;
NET "LRCLK" LOC = F10;
NET "SCLK" LOC = F11;
NET "Dout" LOC = E11;
NET "b[0]" LOC = C9; //b[0] C9
NET "b[1]" LOC = D9;
NET "b[2]" LOC = B8;
NET "b[3]" LOC = C4;
NET "b[4]" LOC = A8;
NET "rst" LOC = T5;
NET "led" LOC = U16;
NET "option" LOC = T10;
NET "bcdsel[3]" LOC = N16;
NET "bcdsel[2]" LOC = N15;
NET "bcdsel[1]" LOC = P18;
NET "bcdsel[0]" LOC = P17;
NET "Y[0]" LOC = T17;
NET "Y[1]" LOC = T18;
NET "Y[2]" LOC = U17;
NET "Y[3]" LOC = U18;
NET "Y[4]" LOC = M14;
NET "Y[5]" LOC = N14;
NET "Y[6]" LOC = L14;

 PIN "instance_name/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE; 
 PIN "instance_name/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
 PIN "instance_name/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE; 
 //PIN "clockgenerator/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE; 
//NET "Dout" LOC = V16;
